.Button {
    width: 100%;
    padding: .3rem .5rem;
    background-color: rgb(69, 121, 170);
    color: white;
    border-radius: 0;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: .8rem;
}

.Button:focus {
    outline: 0;
}

.Button:hover {
    background-color: rgb(64, 114, 161);
}
