.Sidebar {
    flex: 2;
    background-color: #fff;
    border-right: 1px solid #e1e1e1
}

.Sidebar--section {
    padding: 1.5rem;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 100;
}

.Sidebar--header {
    font-size: 1.5rem;
    color: rgb(87, 87, 87);
}

.Sidebar--type {
    color: rgb(136, 136, 136);
}

.Sidebar--content {
    padding-left: .5rem;
}
